body {
  background-color: #edecec;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

div {
  background-color: #cfc5bc;
  border: 1px solid rgb(200, 142, 142);
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

h2 {
  color: #11558c;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-decoration: underline;
}

p, a {
  color: black;
  font-size: 1em;
  margin: 0;
}

div:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #781b91;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0;
  color: #cdc0b3;
}

.nav-list a {
  text-decoration: none;
  color: FB5235;
  padding: 1rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #d381e9;
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.content {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.buss {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #800080;
  padding: 1rem 2rem;
  border-radius: 15px;
  width: fit-content;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #2b2828;
}

a.detail {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #8a0c88;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
  background-color: #a249c9;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
